<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (assignment(); as assignmentRef) {
      <div>
        <h2 data-cy="assignmentDetailsHeading"><span jhiTranslate="lmsapp27062024App.assignment.detail.title">Assignment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ assignmentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.assignment.name">Name</span></dt>
          <dd>
            <span>{{ assignmentRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.assignment.content">Content</span></dt>
          <dd>
            <span>{{ assignmentRef.content }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.assignment.points">Points</span></dt>
          <dd>
            <span>{{ assignmentRef.points }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.assignment.submissionType">Submission Type</span></dt>
          <dd>
            <span [jhiTranslate]="'lmsapp27062024App.SubmissionTypeEnum.' + (assignmentRef.submissionType ?? 'null')">{{
              { null: '', ONLINE: 'ONLINE', PAPER: 'PAPER' }[assignmentRef.submissionType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.assignment.allowedAttempts">Allowed Attempts</span></dt>
          <dd>
            <span>{{ assignmentRef.allowedAttempts }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.assignment.published">Published</span></dt>
          <dd>
            <span>{{ assignmentRef.published }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/assignment', assignmentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
