<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (activity(); as activityRef) {
      <div>
        <h2 data-cy="activityDetailsHeading"><span jhiTranslate="lmsapp27062024App.activity.detail.title">Activity</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ activityRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.activity.activityDate">Activity Date</span></dt>
          <dd>
            <span>{{ activityRef.activityDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.activity.user">User</span></dt>
          <dd>
            <span>{{ activityRef.user?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/activity', activityRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
