<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (announcement(); as announcementRef) {
      <div>
        <h2 data-cy="announcementDetailsHeading"><span jhiTranslate="lmsapp27062024App.announcement.detail.title">Announcement</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ announcementRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.announcement.title">Title</span></dt>
          <dd>
            <span>{{ announcementRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.announcement.content">Content</span></dt>
          <dd>
            <span>{{ announcementRef.content }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.announcement.availableFromDate">Available From Date</span></dt>
          <dd>
            <span>{{ announcementRef.availableFromDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.announcement.availableUntilDate">Available Until Date</span></dt>
          <dd>
            <span>{{ announcementRef.availableUntilDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.announcement.published">Published</span></dt>
          <dd>
            <span>{{ announcementRef.published }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.announcement.attachment">Attachment</span></dt>
          <dd>
            @if (announcement()!.attachment) {
              <div>
                <a [routerLink]="['/attachment', announcement()!.attachment?.id, 'view']">{{ announcementRef.attachment?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.announcement.course">Course</span></dt>
          <dd>
            @if (announcement()!.course) {
              <div>
                <a [routerLink]="['/course', announcement()!.course?.id, 'view']">{{ announcementRef.course?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/announcement', announcementRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
