<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-wiki-page-heading" data-cy="WikiPageCreateUpdateHeading" jhiTranslate="lmsapp27062024App.wikiPage.home.createOrEditLabel">
        Create or edit a Wiki Page
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="lmsapp27062024App.wikiPage.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="lmsapp27062024App.wikiPage.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_content" jhiTranslate="lmsapp27062024App.wikiPage.content">Content</label>
          <input type="text" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_whoAllowed" jhiTranslate="lmsapp27062024App.wikiPage.whoAllowed">Who Allowed</label>
          <select class="form-control" name="whoAllowed" formControlName="whoAllowed" id="field_whoAllowed" data-cy="whoAllowed">
            <option [ngValue]="null">{{ 'lmsapp27062024App.WhoAllowed.null' | translate }}</option>
            @for (whoAllowed of whoAllowedValues; track $index) {
              <option [value]="whoAllowed">{{ 'lmsapp27062024App.WhoAllowed.' + whoAllowed | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_addToStudents" jhiTranslate="lmsapp27062024App.wikiPage.addToStudents"
            >Add To Students</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="addToStudents"
            id="field_addToStudents"
            data-cy="addToStudents"
            formControlName="addToStudents"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_addToStudentsDate" jhiTranslate="lmsapp27062024App.wikiPage.addToStudentsDate"
            >Add To Students Date</label
          >
          <div class="d-flex">
            <input
              id="field_addToStudentsDate"
              data-cy="addToStudentsDate"
              type="datetime-local"
              class="form-control"
              name="addToStudentsDate"
              formControlName="addToStudentsDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_publishedAt" jhiTranslate="lmsapp27062024App.wikiPage.publishedAt">Published At</label>
          <div class="d-flex">
            <input
              id="field_publishedAt"
              data-cy="publishedAt"
              type="datetime-local"
              class="form-control"
              name="publishedAt"
              formControlName="publishedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_published" jhiTranslate="lmsapp27062024App.wikiPage.published">Published</label>
          <input type="checkbox" class="form-check" name="published" id="field_published" data-cy="published" formControlName="published" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notifyUsersChanges" jhiTranslate="lmsapp27062024App.wikiPage.notifyUsersChanges"
            >Notify Users Changes</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="notifyUsersChanges"
            id="field_notifyUsersChanges"
            data-cy="notifyUsersChanges"
            formControlName="notifyUsersChanges"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_course" jhiTranslate="lmsapp27062024App.wikiPage.course">Course</label>
          <select
            class="form-control"
            id="field_course"
            data-cy="course"
            name="course"
            formControlName="course"
            [compareWith]="compareCourse"
          >
            <option [ngValue]="null"></option>
            @for (courseOption of coursesSharedCollection; track $index) {
              <option [ngValue]="courseOption">{{ courseOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
