<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (courseSection(); as courseSectionRef) {
      <div>
        <h2 data-cy="courseSectionDetailsHeading">
          <span jhiTranslate="lmsapp27062024App.courseSection.detail.title">Course Section</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ courseSectionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.courseSection.sectionName">Section Name</span></dt>
          <dd>
            <span>{{ courseSectionRef.sectionName }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.courseSection.course">Course</span></dt>
          <dd>
            @if (courseSection()!.course) {
              <div>
                <a [routerLink]="['/course', courseSection()!.course?.id, 'view']">{{ courseSectionRef.course?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.courseSection.announcement">Announcement</span></dt>
          <dd>
            @for (announcement of courseSectionRef.announcements; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/announcement', announcement.id, 'view']">{{ announcement?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/course-section', courseSectionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
