<div>
  <h2 id="page-heading" data-cy="StudyTermHeading">
    <span jhiTranslate="lmsapp27062024App.studyTerm.home.title">Study Terms</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="lmsapp27062024App.studyTerm.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-study-term"
        [routerLink]="['/study-term/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lmsapp27062024App.studyTerm.home.createLabel">Create a new Study Term</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (studyTerms?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lmsapp27062024App.studyTerm.home.notFound">No Study Terms found</span>
    </div>
  }

  @if (studyTerms && studyTerms.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="termName">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.studyTerm.termName">Term Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.studyTerm.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.studyTerm.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.studyTerm.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="studyAcademicYear.id">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.studyTerm.studyAcademicYear">Study Academic Year</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (studyTerm of studyTerms; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/study-term', studyTerm.id, 'view']">{{ studyTerm.id }}</a>
              </td>
              <td>{{ studyTerm.termName }}</td>
              <td>{{ studyTerm.startDate | formatMediumDatetime }}</td>
              <td>{{ studyTerm.endDate | formatMediumDatetime }}</td>
              <td>{{ studyTerm.status }}</td>
              <td>
                @if (studyTerm.studyAcademicYear) {
                  <div>
                    <a [routerLink]="['/study-academic-year', studyTerm.studyAcademicYear.id, 'view']">{{
                      studyTerm.studyAcademicYear.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/study-term', studyTerm.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/study-term', studyTerm.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(studyTerm)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
