<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (attendance()) {
      <div>
        <h2 data-cy="attendanceDetailsHeading"><span jhiTranslate="lmsapp27062024App.attendance.detail.title">Attendance</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ attendance()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.attendance.attendanceEnum">Attendance Enum</span></dt>
          <dd>
            <span [jhiTranslate]="'lmsapp27062024App.AttendanceEnum.' + (attendance()!.attendanceEnum ?? 'null')">{{
              { null: '', PRESENT: 'PRESENT', LATE: 'LATE', ABSENT: 'ABSENT' }[attendance()!.attendanceEnum ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.attendance.student">Student</span></dt>
          <dd>
            @if (attendance()!.student) {
              <div>
                <a [routerLink]="['/student', attendance()!.student?.id, 'view']">{{ attendance()!.student?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.attendance.lesson">Lesson</span></dt>
          <dd>
            @if (attendance()!.lesson) {
              <div>
                <a [routerLink]="['/lesson', attendance()!.lesson?.id, 'view']">{{ attendance()!.lesson?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/attendance', attendance()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
