<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (question(); as questionRef) {
      <div>
        <h2 data-cy="questionDetailsHeading"><span jhiTranslate="lmsapp27062024App.question.detail.title">Question</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ questionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.question.questionText">Question Text</span></dt>
          <dd>
            <span>{{ questionRef.questionText }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.question.point">Point</span></dt>
          <dd>
            <span>{{ questionRef.point }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.question.questionGroup">Question Group</span></dt>
          <dd>
            @if (question()!.questionGroup) {
              <div>
                <a [routerLink]="['/question-group', question()!.questionGroup?.id, 'view']">{{ questionRef.questionGroup?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/question', questionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
