<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-quiz-question-group-heading"
        data-cy="QuizQuestionGroupCreateUpdateHeading"
        jhiTranslate="lmsapp27062024App.quizQuestionGroup.home.createOrEditLabel"
      >
        Create or edit a Quiz Question Group
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="lmsapp27062024App.quizQuestionGroup.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_questionCount" jhiTranslate="lmsapp27062024App.quizQuestionGroup.questionCount"
            >Question Count</label
          >
          <input
            type="number"
            class="form-control"
            name="questionCount"
            id="field_questionCount"
            data-cy="questionCount"
            formControlName="questionCount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_quiz" jhiTranslate="lmsapp27062024App.quizQuestionGroup.quiz">Quiz</label>
          <select class="form-control" id="field_quiz" data-cy="quiz" name="quiz" formControlName="quiz" [compareWith]="compareQuiz">
            <option [ngValue]="null"></option>
            @for (quizOption of quizzesSharedCollection; track $index) {
              <option [ngValue]="quizOption">{{ quizOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_questionGroup" jhiTranslate="lmsapp27062024App.quizQuestionGroup.questionGroup"
            >Question Group</label
          >
          <select
            class="form-control"
            id="field_questionGroup"
            data-cy="questionGroup"
            name="questionGroup"
            formControlName="questionGroup"
            [compareWith]="compareQuestionGroup"
          >
            <option [ngValue]="null"></option>
            @for (questionGroupOption of questionGroupsSharedCollection; track $index) {
              <option [ngValue]="questionGroupOption">{{ questionGroupOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
