<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (course(); as courseRef) {
      <div>
        <h2 data-cy="courseDetailsHeading"><span jhiTranslate="lmsapp27062024App.course.detail.title">Course</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ courseRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.course.courseName">Course Name</span></dt>
          <dd>
            <span>{{ courseRef.courseName }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.course.courseCode">Course Code</span></dt>
          <dd>
            <span>{{ courseRef.courseCode }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.course.courseImagePath">Course Image Path</span></dt>
          <dd>
            <span>{{ courseRef.courseImagePath }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.course.courseStartDate">Course Start Date</span></dt>
          <dd>
            <span>{{ courseRef.courseStartDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.course.courseEndDate">Course End Date</span></dt>
          <dd>
            <span>{{ courseRef.courseEndDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.course.courseFormat">Course Format</span></dt>
          <dd>
            <span>{{ courseRef.courseFormat }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.course.published">Published</span></dt>
          <dd>
            <span>{{ courseRef.published }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.course.selfEnrollment">Self Enrollment</span></dt>
          <dd>
            <span>{{ courseRef.selfEnrollment }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.course.selfEnrollmentCode">Self Enrollment Code</span></dt>
          <dd>
            <span>{{ courseRef.selfEnrollmentCode }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.course.storageQuota">Storage Quota</span></dt>
          <dd>
            <span>{{ courseRef.storageQuota }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.course.status">Status</span></dt>
          <dd>
            <span>{{ courseRef.status }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.course.user">User</span></dt>
          <dd>
            <span>{{ courseRef.user?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/course', courseRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
