<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-question-heading" data-cy="QuestionCreateUpdateHeading" jhiTranslate="lmsapp27062024App.question.home.createOrEditLabel">
        Create or edit a Question
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="lmsapp27062024App.question.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let questionTextRef = editForm.get('questionText')!;
        <div class="mb-3">
          <label class="form-label" for="field_questionText" jhiTranslate="lmsapp27062024App.question.questionText">Question Text</label>
          <input
            type="text"
            class="form-control"
            name="questionText"
            id="field_questionText"
            data-cy="questionText"
            formControlName="questionText"
          />
          @if (questionTextRef.invalid && (questionTextRef.dirty || questionTextRef.touched)) {
            <div>
              @if (editForm.get('questionText')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_point" jhiTranslate="lmsapp27062024App.question.point">Point</label>
          <input type="number" class="form-control" name="point" id="field_point" data-cy="point" formControlName="point" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_questionGroup" jhiTranslate="lmsapp27062024App.question.questionGroup">Question Group</label>
          <select
            class="form-control"
            id="field_questionGroup"
            data-cy="questionGroup"
            name="questionGroup"
            formControlName="questionGroup"
            [compareWith]="compareQuestionGroup"
          >
            <option [ngValue]="null"></option>
            @for (questionGroupOption of questionGroupsSharedCollection; track $index) {
              <option [ngValue]="questionGroupOption">{{ questionGroupOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
