<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (message(); as messageRef) {
      <div>
        <h2 data-cy="messageDetailsHeading"><span jhiTranslate="lmsapp27062024App.message.detail.title">Message</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ messageRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.message.subject">Subject</span></dt>
          <dd>
            <span>{{ messageRef.subject }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.message.body">Body</span></dt>
          <dd>
            <span>{{ messageRef.body }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.message.toAllCourseStudents">To All Course Students</span></dt>
          <dd>
            <span>{{ messageRef.toAllCourseStudents }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.message.toSectionIds">To Section Ids</span></dt>
          <dd>
            <span>{{ messageRef.toSectionIds }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.message.senderDate">Sender Date</span></dt>
          <dd>
            <span>{{ messageRef.senderDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.message.deleted">Deleted</span></dt>
          <dd>
            <span>{{ messageRef.deleted }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.message.course">Course</span></dt>
          <dd>
            @if (message()!.course) {
              <div>
                <a [routerLink]="['/course', message()!.course?.id, 'view']">{{ messageRef.course?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.message.sender">Sender</span></dt>
          <dd>
            <span>{{ messageRef.sender?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/message', messageRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
