<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (speciality(); as specialityRef) {
      <div>
        <h2 data-cy="specialityDetailsHeading"><span jhiTranslate="lmsapp27062024App.speciality.detail.title">Speciality</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ specialityRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.speciality.name">Name</span></dt>
          <dd>
            <span>{{ specialityRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.speciality.faculty">Faculty</span></dt>
          <dd>
            @if (speciality()!.faculty) {
              <div>
                <a [routerLink]="['/faculty', speciality()!.faculty?.id, 'view']">{{ specialityRef.faculty?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/speciality', specialityRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
