<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (lessonMaterial()) {
      <div>
        <h2 data-cy="lessonMaterialDetailsHeading">
          <span jhiTranslate="lmsapp27062024App.lessonMaterial.detail.title">Lesson Material</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ lessonMaterial()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.lessonMaterial.title">Title</span></dt>
          <dd>
            <span>{{ lessonMaterial()!.title }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.lessonMaterial.description">Description</span></dt>
          <dd>
            <span>{{ lessonMaterial()!.description }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.lessonMaterial.lessonFileType">Lesson File Type</span></dt>
          <dd>
            <span [jhiTranslate]="'lmsapp27062024App.LessonFileTypeEnum.' + (lessonMaterial()!.lessonFileType ?? 'null')">{{
              { null: '', VIDEO: 'VIDEO', PDF: 'PDF', FILE: 'FILE', SOCIAL_MEDIA: 'SOCIAL_MEDIA', WEB_LINK: 'WEB_LINK', TEXT: 'TEXT' }[
                lessonMaterial()!.lessonFileType ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.lessonMaterial.attachment">Attachment</span></dt>
          <dd>
            @if (lessonMaterial()!.attachment) {
              <div>
                <a [routerLink]="['/attachment', lessonMaterial()!.attachment?.id, 'view']">{{ lessonMaterial()!.attachment?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.lessonMaterial.lesson">Lesson</span></dt>
          <dd>
            @if (lessonMaterial()!.lesson) {
              <div>
                <a [routerLink]="['/lesson', lessonMaterial()!.lesson?.id, 'view']">{{ lessonMaterial()!.lesson?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/lesson-material', lessonMaterial()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
