<div>
  <h2 id="page-heading" data-cy="AnnouncementStudentReadHeading">
    <span jhiTranslate="lmsapp27062024App.announcementStudentRead.home.title">Announcement Student Reads</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="lmsapp27062024App.announcementStudentRead.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-announcement-student-read"
        [routerLink]="['/announcement-student-read/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lmsapp27062024App.announcementStudentRead.home.createLabel">Create a new Announcement Student Read</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (announcementStudentReads?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lmsapp27062024App.announcementStudentRead.home.notFound">No Announcement Student Reads found</span>
    </div>
  }

  @if (announcementStudentReads && announcementStudentReads.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="read">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.announcementStudentRead.read">Read</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="readAt">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.announcementStudentRead.readAt">Read At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="announcement.id">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.announcementStudentRead.announcement">Announcement</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="student.id">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.announcementStudentRead.student">Student</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (announcementStudentRead of announcementStudentReads; track trackId(announcementStudentRead)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/announcement-student-read', announcementStudentRead.id, 'view']">{{ announcementStudentRead.id }}</a>
              </td>
              <td>{{ announcementStudentRead.read }}</td>
              <td>{{ announcementStudentRead.readAt | formatMediumDatetime }}</td>
              <td>
                @if (announcementStudentRead.announcement) {
                  <div>
                    <a [routerLink]="['/announcement', announcementStudentRead.announcement.id, 'view']">{{
                      announcementStudentRead.announcement.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (announcementStudentRead.student) {
                  <div>
                    <a [routerLink]="['/student', announcementStudentRead.student.id, 'view']">{{ announcementStudentRead.student.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/announcement-student-read', announcementStudentRead.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/announcement-student-read', announcementStudentRead.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(announcementStudentRead)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (announcementStudentReads && announcementStudentReads.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
