<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (communityTag(); as communityTagRef) {
      <div>
        <h2 data-cy="communityTagDetailsHeading"><span jhiTranslate="lmsapp27062024App.communityTag.detail.title">Community Tag</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ communityTagRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.communityTag.community">Community</span></dt>
          <dd>
            @if (communityTag()!.community) {
              <div>
                <a [routerLink]="['/community', communityTag()!.community?.id, 'view']">{{ communityTagRef.community?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.communityTag.tag">Tag</span></dt>
          <dd>
            @if (communityTag()!.tag) {
              <div>
                <a [routerLink]="['/tag', communityTag()!.tag?.id, 'view']">{{ communityTagRef.tag?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/community-tag', communityTagRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
