<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (attendanceDetail()) {
      <div>
        <h2 data-cy="attendanceDetailDetailsHeading">
          <span jhiTranslate="lmsapp27062024App.attendanceDetail.detail.title">Attendance Detail</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ attendanceDetail()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.attendanceDetail.attendanceEnum">Attendance Enum</span></dt>
          <dd>
            <span [jhiTranslate]="'lmsapp27062024App.AttendanceEnum.' + (attendanceDetail()!.attendanceEnum ?? 'null')">{{
              { null: '', PRESENT: 'PRESENT', LATE: 'LATE', ABSENT: 'ABSENT' }[attendanceDetail()!.attendanceEnum ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.attendanceDetail.attendance">Attendance</span></dt>
          <dd>
            @if (attendanceDetail()!.attendance) {
              <div>
                <a [routerLink]="['/attendance', attendanceDetail()!.attendance?.id, 'view']">{{ attendanceDetail()!.attendance?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.attendanceDetail.student">Student</span></dt>
          <dd>
            <span>{{ attendanceDetail()!.student?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/attendance-detail', attendanceDetail()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
