<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (accounts(); as accountsRef) {
      <div>
        <h2 data-cy="accountsDetailsHeading"><span jhiTranslate="lmsapp27062024App.accounts.detail.title">Accounts</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ accountsRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.accounts.username">Username</span></dt>
          <dd>
            <span>{{ accountsRef.username }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.accounts.fullName">Full Name</span></dt>
          <dd>
            <span>{{ accountsRef.fullName }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.accounts.sortableName">Sortable Name</span></dt>
          <dd>
            <span>{{ accountsRef.sortableName }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.accounts.avatarImageUrl">Avatar Image Url</span></dt>
          <dd>
            <span>{{ accountsRef.avatarImageUrl }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.accounts.phone">Phone</span></dt>
          <dd>
            <span>{{ accountsRef.phone }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.accounts.locale">Locale</span></dt>
          <dd>
            <span>{{ accountsRef.locale }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.accounts.gender">Gender</span></dt>
          <dd>
            <span>{{ accountsRef.gender }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.accounts.userType">User Type</span></dt>
          <dd>
            <span [jhiTranslate]="'lmsapp27062024App.UserType.' + (accountsRef.userType ?? 'null')">{{
              { null: '', STUDENT: 'STUDENT', TEACHER: 'TEACHER' }[accountsRef.userType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.accounts.userStatus">User Status</span></dt>
          <dd>
            <span [jhiTranslate]="'lmsapp27062024App.UserStatus.' + (accountsRef.userStatus ?? 'null')">{{
              { null: '', ACTIVE: 'ACTIVE', PENDING: 'PENDING', BLOCKED: 'BLOCKED' }[accountsRef.userStatus ?? 'null']
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/accounts', accountsRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
