<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (assignmentComment(); as assignmentCommentRef) {
      <div>
        <h2 data-cy="assignmentCommentDetailsHeading">
          <span jhiTranslate="lmsapp27062024App.assignmentComment.detail.title">Assignment Comment</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ assignmentCommentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.assignmentComment.comment">Comment</span></dt>
          <dd>
            <span>{{ assignmentCommentRef.comment }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.assignmentComment.commentDate">Comment Date</span></dt>
          <dd>
            <span>{{ assignmentCommentRef.commentDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.assignmentComment.submissionAssignment">Submission Assignment</span></dt>
          <dd>
            @if (assignmentComment()!.submissionAssignment) {
              <div>
                <a [routerLink]="['/submission-assignment', assignmentComment()!.submissionAssignment?.id, 'view']">{{
                  assignmentCommentRef.submissionAssignment?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.assignmentComment.assignment">Assignment</span></dt>
          <dd>
            @if (assignmentComment()!.assignment) {
              <div>
                <a [routerLink]="['/assignment', assignmentComment()!.assignment?.id, 'view']">{{ assignmentCommentRef.assignment?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.assignmentComment.student">Student</span></dt>
          <dd>
            @if (assignmentComment()!.student) {
              <div>
                <a [routerLink]="['/student', assignmentComment()!.student?.id, 'view']">{{ assignmentCommentRef.student?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.assignmentComment.teacher">Teacher</span></dt>
          <dd>
            @if (assignmentComment()!.teacher) {
              <div>
                <a [routerLink]="['/teacher', assignmentComment()!.teacher?.id, 'view']">{{ assignmentCommentRef.teacher?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/assignment-comment', assignmentCommentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
