<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (option()) {
      <div>
        <h2 data-cy="optionDetailsHeading"><span jhiTranslate="lmsapp27062024App.option.detail.title">Option</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ option()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.option.optionText">Option Text</span></dt>
          <dd>
            <span>{{ option()!.optionText }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.option.isCorrect">Is Correct</span></dt>
          <dd>
            <span>{{ option()!.isCorrect }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.option.question">Question</span></dt>
          <dd>
            @if (option()!.question) {
              <div>
                <a [routerLink]="['/question', option()!.question?.id, 'view']">{{ option()!.question?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/option', option()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
