<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (studentOption(); as studentOptionRef) {
      <div>
        <h2 data-cy="studentOptionDetailsHeading">
          <span jhiTranslate="lmsapp27062024App.studentOption.detail.title">Student Option</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ studentOptionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.studentOption.ordNum">Ord Num</span></dt>
          <dd>
            <span>{{ studentOptionRef.ordNum }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.studentOption.studentQuestion">Student Question</span></dt>
          <dd>
            @if (studentOption()!.studentQuestion) {
              <div>
                <a [routerLink]="['/student-question', studentOption()!.studentQuestion?.id, 'view']">{{
                  studentOptionRef.studentQuestion?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.studentOption.option">Option</span></dt>
          <dd>
            @if (studentOption()!.option) {
              <div>
                <a [routerLink]="['/option', studentOption()!.option?.id, 'view']">{{ studentOptionRef.option?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/student-option', studentOptionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
