<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-attendance-heading"
        data-cy="AttendanceCreateUpdateHeading"
        jhiTranslate="lmsapp27062024App.attendance.home.createOrEditLabel"
      >
        Create or edit a Attendance
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="lmsapp27062024App.attendance.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_attendanceEnum" jhiTranslate="lmsapp27062024App.attendance.attendanceEnum"
            >Attendance Enum</label
          >
          <select
            class="form-control"
            name="attendanceEnum"
            formControlName="attendanceEnum"
            id="field_attendanceEnum"
            data-cy="attendanceEnum"
          >
            <option [ngValue]="null">{{ 'lmsapp27062024App.AttendanceEnum.null' | translate }}</option>
            @for (attendanceEnum of attendanceEnumValues; track $index) {
              <option [value]="attendanceEnum">{{ 'lmsapp27062024App.AttendanceEnum.' + attendanceEnum | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_student" jhiTranslate="lmsapp27062024App.attendance.student">Student</label>
          <select
            class="form-control"
            id="field_student"
            data-cy="student"
            name="student"
            formControlName="student"
            [compareWith]="compareStudent"
          >
            <option [ngValue]="null"></option>
            @for (studentOption of studentsSharedCollection; track $index) {
              <option [ngValue]="studentOption">{{ studentOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lesson" jhiTranslate="lmsapp27062024App.attendance.lesson">Lesson</label>
          <select
            class="form-control"
            id="field_lesson"
            data-cy="lesson"
            name="lesson"
            formControlName="lesson"
            [compareWith]="compareLesson"
          >
            <option [ngValue]="null"></option>
            @for (lessonOption of lessonsSharedCollection; track $index) {
              <option [ngValue]="lessonOption">{{ lessonOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
