<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-student-answer-question-heading"
        data-cy="StudentAnswerQuestionCreateUpdateHeading"
        jhiTranslate="lmsapp27062024App.studentAnswerQuestion.home.createOrEditLabel"
      >
        Create or edit a Student Answer Question
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="lmsapp27062024App.studentAnswerQuestion.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_isCorrect" jhiTranslate="lmsapp27062024App.studentAnswerQuestion.isCorrect"
            >Is Correct</label
          >
          <input type="checkbox" class="form-check" name="isCorrect" id="field_isCorrect" data-cy="isCorrect" formControlName="isCorrect" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_question" jhiTranslate="lmsapp27062024App.studentAnswerQuestion.question">Question</label>
          <select
            class="form-control"
            id="field_question"
            data-cy="question"
            name="question"
            formControlName="question"
            [compareWith]="compareQuestion"
          >
            <option [ngValue]="null"></option>
            @for (questionOption of questionsSharedCollection; track $index) {
              <option [ngValue]="questionOption">{{ questionOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_option" jhiTranslate="lmsapp27062024App.studentAnswerQuestion.option">Option</label>
          <select
            class="form-control"
            id="field_option"
            data-cy="option"
            name="option"
            formControlName="option"
            [compareWith]="compareOption"
          >
            <option [ngValue]="null"></option>
            @for (optionOption of optionsSharedCollection; track $index) {
              <option [ngValue]="optionOption">{{ optionOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_quizSession" jhiTranslate="lmsapp27062024App.studentAnswerQuestion.quizSession"
            >Quiz Session</label
          >
          <select
            class="form-control"
            id="field_quizSession"
            data-cy="quizSession"
            name="quizSession"
            formControlName="quizSession"
            [compareWith]="compareQuizSession"
          >
            <option [ngValue]="null"></option>
            @for (quizSessionOption of quizSessionsSharedCollection; track $index) {
              <option [ngValue]="quizSessionOption">{{ quizSessionOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
