<div>
  <h2 id="page-heading" data-cy="CommunityTagHeading">
    <span jhiTranslate="lmsapp27062024App.communityTag.home.title">Community Tags</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="lmsapp27062024App.communityTag.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-community-tag"
        [routerLink]="['/community-tag/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lmsapp27062024App.communityTag.home.createLabel">Create a new Community Tag</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (communityTags?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lmsapp27062024App.communityTag.home.notFound">No Community Tags found</span>
    </div>
  }

  @if (communityTags && communityTags.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="community.id">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.communityTag.community">Community</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tag.id">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.communityTag.tag">Tag</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (communityTag of communityTags; track trackId(communityTag)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/community-tag', communityTag.id, 'view']">{{ communityTag.id }}</a>
              </td>
              <td>
                @if (communityTag.community) {
                  <div>
                    <a [routerLink]="['/community', communityTag.community.id, 'view']">{{ communityTag.community.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (communityTag.tag) {
                  <div>
                    <a [routerLink]="['/tag', communityTag.tag.id, 'view']">{{ communityTag.tag.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/community-tag', communityTag.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/community-tag', communityTag.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(communityTag)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
