<div>
  <h2 id="page-heading" data-cy="MessageHeading">
    <span jhiTranslate="lmsapp27062024App.message.home.title">Messages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="lmsapp27062024App.message.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-message"
        [routerLink]="['/message/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lmsapp27062024App.message.home.createLabel">Create a new Message</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (messages?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lmsapp27062024App.message.home.notFound">No Messages found</span>
    </div>
  }

  @if (messages && messages.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subject">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.message.subject">Subject</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="body">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.message.body">Body</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="toAllCourseStudents">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.message.toAllCourseStudents">To All Course Students</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="toSectionIds">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.message.toSectionIds">To Section Ids</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="senderDate">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.message.senderDate">Sender Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deleted">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.message.deleted">Deleted</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="course.id">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.message.course">Course</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sender.id">
              <div class="d-flex">
                <span jhiTranslate="lmsapp27062024App.message.sender">Sender</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (message of messages; track trackId(message)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/message', message.id, 'view']">{{ message.id }}</a>
              </td>
              <td>{{ message.subject }}</td>
              <td>{{ message.body }}</td>
              <td>{{ message.toAllCourseStudents }}</td>
              <td>{{ message.toSectionIds }}</td>
              <td>{{ message.senderDate | formatMediumDatetime }}</td>
              <td>{{ message.deleted }}</td>
              <td>
                @if (message.course) {
                  <div>
                    <a [routerLink]="['/course', message.course.id, 'view']">{{ message.course.id }}</a>
                  </div>
                }
              </td>
              <td>
                {{ message.sender?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/message', message.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/message', message.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(message)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
