<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (studyAcademicYear()) {
      <div>
        <h2 data-cy="studyAcademicYearDetailsHeading">
          <span jhiTranslate="lmsapp27062024App.studyAcademicYear.detail.title">Study Academic Year</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ studyAcademicYear()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.studyAcademicYear.fromDate">From Date</span></dt>
          <dd>
            <span>{{ studyAcademicYear()!.fromDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.studyAcademicYear.endDate">End Date</span></dt>
          <dd>
            <span>{{ studyAcademicYear()!.endDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/study-academic-year', studyAcademicYear()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
