<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-study-term-heading"
        data-cy="StudyTermCreateUpdateHeading"
        jhiTranslate="lmsapp27062024App.studyTerm.home.createOrEditLabel"
      >
        Create or edit a Study Term
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="lmsapp27062024App.studyTerm.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let termNameRef = editForm.get('termName')!;
        <div class="mb-3">
          <label class="form-label" for="field_termName" jhiTranslate="lmsapp27062024App.studyTerm.termName">Term Name</label>
          <input type="text" class="form-control" name="termName" id="field_termName" data-cy="termName" formControlName="termName" />
          @if (termNameRef.invalid && (termNameRef.dirty || termNameRef.touched)) {
            <div>
              @if (editForm.get('termName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let startDateRef = editForm.get('startDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_startDate" jhiTranslate="lmsapp27062024App.studyTerm.startDate">Start Date</label>
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (startDateRef.invalid && (startDateRef.dirty || startDateRef.touched)) {
            <div>
              @if (editForm.get('startDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('startDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let endDateRef = editForm.get('endDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_endDate" jhiTranslate="lmsapp27062024App.studyTerm.endDate">End Date</label>
          <div class="d-flex">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="datetime-local"
              class="form-control"
              name="endDate"
              formControlName="endDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (endDateRef.invalid && (endDateRef.dirty || endDateRef.touched)) {
            <div>
              @if (editForm.get('endDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('endDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="lmsapp27062024App.studyTerm.status">Status</label>
          <input type="checkbox" class="form-check" name="status" id="field_status" data-cy="status" formControlName="status" />
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_studyAcademicYear" jhiTranslate="lmsapp27062024App.studyTerm.studyAcademicYear"
            >Study Academic Year</label
          >
          <select
            class="form-control"
            id="field_studyAcademicYear"
            data-cy="studyAcademicYear"
            name="studyAcademicYear"
            formControlName="studyAcademicYear"
            [compareWith]="compareStudyAcademicYear"
          >
            <option [ngValue]="null"></option>
            @for (studyAcademicYearOption of studyAcademicYearsSharedCollection; track $index) {
              <option [ngValue]="studyAcademicYearOption">{{ studyAcademicYearOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
