<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (questionGroup()) {
      <div>
        <h2 data-cy="questionGroupDetailsHeading">
          <span jhiTranslate="lmsapp27062024App.questionGroup.detail.title">Question Group</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ questionGroup()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.questionGroup.name">Name</span></dt>
          <dd>
            <span>{{ questionGroup()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="lmsapp27062024App.questionGroup.course">Course</span></dt>
          <dd>
            @if (questionGroup()!.course) {
              <div>
                <a [routerLink]="['/course', questionGroup()!.course?.id, 'view']">{{ questionGroup()!.course?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/question-group', questionGroup()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
